@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes moving-line {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-moving-line {
    animation: moving-line 2.5s linear infinite;
  }

  .glow-line {
    background: linear-gradient(90deg, #facc15, #fef08a, #facc15); /* yellow gradient */
    filter: drop-shadow(0 0 6px #facc15);
  }
}




@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
} 




@layer utilities {
  @keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

  .animate-shimmer {
    animation: shimmer 4s ease-in-out infinite;
  }
}
